/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.3s;
  --border-radius: 6px;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: content-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
main > article {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
main > article:nth-child(even) {
  background-color: var(--section-background);
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 80%;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
/* End Global Rules */
/* Start Components */
.specialHeading {
  color: #ebeced;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.specialHeading + p {
  margin-top: -20px;
  text-align: center;
  font-size: 1.2rem;
  color: #797979;
}
/* End Components */
/* Start Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  width: 100%;
  height: 2px;
}
header .links .icon span:nth-child(2) {
  width: 50%;
  transition: var(--main-duration, 0,3s);
}
header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  min-width: 200px;
  background-color: var(--section-background);
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
header .links:hover ul {
  display: block;
}
header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--section-background) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
header .links ul li a:hover {
  padding-left: 25px;
}
header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  padding: 0;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features .feat {
  padding: 20px;
  text-align: center;
  border-radius: var(--border-radius);
}
.features .feat:hover {
  background-color: var(--secondary-color);
  color: white;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
.features .feat:hover p {
  color: #d1d1d1;
}
/* End Features */
/* Start Services  */
.services .servicesContent {
  margin-top: 100px;
}
.services .servicesContent .srv {
  display: flex;
  padding: 20px;
  margin-bottom: 40px;
  min-height: 200px;
  border-radius: var(--border-radius);
}
.services .servicesContent .srv:hover {
  background-color: var(--secondary-color);
  color: white;
}
@media (max-width: 767px) {
  .services .servicesContent .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .servicesContent .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .servicesContent .srv .text {
  flex: 1;
}
.services .servicesContent .srv .text h3 {
  margin: 0 0 20px;
}
.services .servicesContent .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .servicesContent .srv:hover .text p {
  color: #d1d1d1;
}
.services .servicesContent .cal .image {
  text-align: center;
  position: relative;
}
.services .servicesContent .cal .image::before {
  content: "";
  position: absolute;
  right: -40px;
  top: -40px;
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 80px);
  z-index: -1;
}
.services .servicesContent .cal .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .services .servicesContent .cal:has(.image) {
    display: none;
  }
}
/* Start Services  */
/* Start Portfolio */
.portfolio .portfolioContent {
  margin-top: 80px;
}
.portfolio .portfolioContent .card {
  background-color: white;
  border-radius: 6px;
}
.portfolio .portfolioContent .card:hover {
  background-color: var(--secondary-color);
  color: white;
}
.portfolio .portfolioContent .card  figure {
  margin: 0;
}
.portfolio .portfolioContent .card img {
  max-width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.portfolio .portfolioContent .card .info {
  padding: 20px;
}
.portfolio .portfolioContent .card .info h3 {
  margin: 0;
}
.portfolio .portfolioContent .card .info p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}
.portfolio .portfolioContent .card:hover .info p {
  color: #d1d1d1;
}
/* End Portfolio */
/* Start About */
.about .aboutContent {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

@media (max-width: 991px) {
  .about .aboutContent {
    flex-direction: column;
    text-align: center;
  }
}
.about .aboutContent .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .aboutContent .image {
    margin: 0 auto var(--section-padding);
  }
}
.about .aboutContent .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .aboutContent .image::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -150px;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
}
@media (max-width: 991px) {
  .about .aboutContent .image::before,
  .about .aboutContent .image::after {
    display: none;
  }
}
.about .aboutContent .image img {
  width: 100%;
}
.about .aboutContent .text {
  flex-basis: calc(100% - 500px);
}
.about .aboutContent .text p:hover{
  background-color: var(--secondary-color);
  color: white;
  border-radius: var(--border-radius);
}
.about .aboutContent .text p:first-of-type {
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 50px;
  padding: 20px;
}
.about .aboutContent .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .aboutContent .text p:last-of-type {
  line-height: 1.8;
  color: #777;
  padding: 20px;
}
.about .aboutContent .text p:last-of-type:hover {
  color: #d1d1d1;
}
/* End About */
/* Start Contact */
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .label .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  cursor: pointer;
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .label .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */